<!-- Main Hero Image -->
<div class="hero">
  <canvas class="hero_background" width="200" height="200" id="hero-canvas"></canvas>
  <h1 class="hero_title">Image Blur Thing</h1>
  <img data-canvas-image style="display: none" src="<%=image_url('test.jpg')%>">
</div>

<!-- Project Description -->
<div class="row" id="about">
  <div class="medium-6 large-12 columns">
    <h4>About</h4>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
  </div>
</div>

<!-- Project -->
<div class="row" id="project">
  <div class="medium-6 large-12 columns">
    <h4>My Project</h4>
    <div id='container' class='twentytwenty-container'>
      <img src="<%=image_url('left.jpg')%>">
      <img src="<%=image_url('right.jpg')%>">
    </div>
  </div>
</div>
