<!-- Main Hero Image -->
<div class="hero">
  <canvas class="hero_background" width="200" height="200" id="hero-canvas"></canvas>
  <div class="hero_title">Methexis</div>
  <div class="hero_title_small"><i>our encounter with the divine</i></div>
  <img data-canvas-image style="display: none" src="<%=image_url('test.jpg')%>">
</div>

<!-- Project Description -->
<div class="row" id="about">
  <div class="medium-6 large-12 columns">
    <p>The way we perceive the objects around us changes based on the environment we are in, our own emotions, and physical characteristics of the object itself. Medieval art, at its core, relies on the environment to connect with its viewers. The brilliant intensity of a rising sun and the last fading rays of a sunset change how we interact with the objects around us and how those object engage with us.</p>
    <p>When we view objects today, especially medieval ones, we see them far removed from their original contexts and environments. We find these objects in musuems, enclosed behind glass cases and illuminated in perfect lighting. These conditions create a distance between the viewer and the object that hinders a deeper relationship between the two.</p>
      <p>Yet, this distance is not entirely a bad thing and certainly not a foreign concept to Medievalists. We only have to look at Christian churches and monuments during the medieval period to see the important of hierarchy and distance in such a space. Hagia Sophia, constructed from 532 - 537 AD, immediately overwhelmed the viewer with its majesty, openess, and sheer size. The majority of the building, however, was off limits to the majority of people, especially during the liturgy. </p>
  </div>
</div>

<!-- Project -->
<div class="row" id="project">
  <div class="medium-6 large-12 columns">
    <h4>My Project</h4>
    <div id='container'>
      <img src="<%=image_url('altar_chalice.png')%>">
      <img src="<%=image_url('altar.png')%>">
    </div>
  </div>
</div>
